.main_ultimate_services{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;
    margin-left: 3rem;
    padding-left: 2rem;
    border-radius: 10px;
    background-color: #006875;  
    margin-right: 3rem;
    height: 450px;
    /* overflow-y: auto; */
}
.ultimateTextMain{
    width: 50%;
}
.ultimate_text{
    margin-top: 50px;
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    /* padding-left: 4rem; */
    text-overflow: ellipsis;
    white-space: pre-wrap;
    max-width: max-content;
    /* align-items: center; */
    /* background-color: coral; */
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}
.button_div{
    height: 3rem;
    width: 9rem;
    /* margin-left: 4rem; */
    border-radius: 8px;
    margin-top: 2rem;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00966B;
}
.image_ultimate_design{
    display: flex;
    justify-content: center;
    /* background-color: coral; */
    width: 50%;
}
.ultimate_image_css{
    height: 80%;
    width: 80%;
}
.cardMedia{
    width: fit-content;
    height: 90%;
    /* background-color: coral; */
}
@media only screen and (max-width: 840px){
    /* .cardMedia{
        width: max-content;
    } */
}

@media only screen and (max-width: 660px){
    .ultimate_text{
        font-size: 2rem;
    }
    /* .cardMedia{
        width: 200px;
    } */
}
@media only screen and (max-width: 510px){
    .ultimate_text{
        font-size: 1.5rem;
    }
}